<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LASA CS</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/table.css" />
  </head>
  <body>
    <nav id="navbar">
      <ul>
        <li id="hamburger-menu">
          <a href="javascript:void(0);" class="icon" onclick="makeResponsive()">
            <i class="fa fa-bars"></i>
          </a>
        </li>
        <li class="logo-li">
          <a href="{{ url_for('index') }}">
            <img
              src="../static/images/logo.png"
              id="logo-nav"
              alt="LASA CS Logo"
            />
          </a>
        </li>
        <li class="li-page">
          <a href="">Courses</a>
          <ul class="dropdown1 dropdown">
            <li><a href="/ap">AP Computer Science</a></li>
            <li><a href="/acs">Advanced CS</a></li>
            <li><a href="/de">Digital Electronics</a></li>
            <li><a href="/fun">Fundamentals of CS</a></li>
            <li><a href="/web">Web & Mobile Apps</a></li>
            <li><a href="/is">Independent Study CS</a></li>
          </ul>
        </li>
        <li class="li-page">
          <a href="">Resources</a>
          <ul class="dropdown2 dropdown">
            <li>
              <a href="https://sites.google.com/view/lasacsclubs">Clubs</a>
            </li>
            <li><a href="https://lasacs.com/tutoring/">Peer Tutors</a></li>
            <li><a href="https://lasacs.com/uil/">UIL CS</a></li>
            <li><a href="https://lasacs.com/calendar/">Calendar</a></li>
            <li><a href="https://lasacs.com/online/">Online Challenges</a></li>
            <li>
              <a href="https://lasacs.com/opportunities/">Opportunities</a>
            </li>
          </ul>
        </li>
        <li class="li-page">
          <a href="">Explore</a>
          <ul class="dropdown3 dropdown">
            <li><a href="https://lasacs.com/comptometer/">Comptometer</a></li>
            <li><a href="https://lasacs.com/hw/">Hardware</a></li>
            <li>
              <a
                href="https://docs.google.com/document/d/1hccpgLyOnDgHxg0o7nQu3Z6GlENzazQAhsEvIv9iYyM/edit?usp=sharing"
                >Puzzles
              </a>
            </li>
            <li><a href="https://lasacs.com/books/">Books</a></li>
          </ul>
        </li>
        <li class="li-page" id="about-li">
          <a href="" id="about-a">About</a>
          <ul class="dropdown4">
            <li><a href="https://lasacs.com/why/">Why study CS?</a></li>
            <li><a href="https://lasacs.com/courses/">Course Info</a></li>
            <li><a href="https://lasacs.com/contact-info/">Contact</a></li>
            <li>
              <a
                href="https://docs.google.com/presentation/d/12Efq2NIv_hBh-9nt1Ymhv1LK-apdGTD4VCRipKa3tgU/edit?usp=sharing"
                >Teacher Tech
              </a>
            </li>
            <li>
              <a
                href="https://docs.google.com/spreadsheet/viewform?hl=en_US&formkey=dFVzRUZ5cnFhYnQzQll1VGxINTIyd1E6MQ#gid=0"
                >Feedback
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <main>
      <h1 class="title-header">Advanced CS</h1>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <table class="table">
        <tbody>
          <tr class="impact">
            <td>
              <span><strong>Date</strong></span>
            </td>
            <td>
              <span><strong>Notes</strong></span>
            </td>
            <td>
              <span><strong> Activities</strong></span>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s"></td>
            <td class="td-s">
              <h2>
                <a
                  href="https://docs.google.com/forms/d/e/1FAIpQLSc0k8CIegDbqRWyBegu23VzL7-C0JuM-PZxfsq7-jYuScZhhw/viewform"
                  >Senior Info</a
                >
              </h2>
            </td>
          </tr>
          <tr>
            <td class="td-s">
              <p>05/19</p>
              <p>05/21</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              Spring Practicum &#8211;
              <a
                href="https://docs.google.com/spreadsheets/d/1_AfJfb2qfM7YgWzjaH6NxPsRedBsZWm3jofEhqCi_Yo/edit?usp=sharing"
                >Presentation Schedule</a
              >
            </td>
          </tr>
          <tr>
            <td class="td-s">05/05</td>
            <td class="td-s"></td>
            <td class="td-s">
              <a
                href="https://docs.google.com/forms/d/1ixh6I-B0FIgxE8diYZaruYtV8pa1AdyOfgSo4BbR8nU/preview"
                >AP Schedule Form</a
              >
            </td>
          </tr>
          <tr>
            <td class="td-s">04/30</td>
            <td class="td-s"></td>
            <td class="td-s">
              Spring Practicum &#8211;
              <a
                href="https://docs.google.com/forms/d/1uDml1tAN3LX8bgyylKpwmCNdEeOULkoS7tvtT6W87pU/preview"
                >Executive Summary</a
              >
            </td>
          </tr>
          <tr>
            <td class="td-s">03/10</td>
            <td class="td-s"></td>
            <td class="td-s">Lab: LASAalloc &#8211; Doubly Linked List (v1)</td>
          </tr>
          <tr>
            <td class="td-s">02/21</td>
            <td class="td-s"></td>
            <td class="td-s">Lab Day: Complete Red-Black Tree</td>
          </tr>
          <tr>
            <td class="td-s">02/19</td>
            <td class="td-s"></td>
            <td class="td-s">
              <p>Topic: 55.Red-Black Trees</p>
              <p>Lab: 55.Red Black Tree (v2.1)</p>
            </td>
          </tr>
          <tr>
            <td class="td-s">02/12</td>
            <td class="td-s"></td>
            <td class="td-s">Complete edPuzzle and Lab on AVL Trees</td>
          </tr>
          <tr>
            <td class="td-s">02/10</td>
            <td class="td-s"></td>
            <td class="td-s">Lab Day</td>
          </tr>
          <tr>
            <td class="td-s">02/07</td>
            <td class="td-s"></td>
            <td class="td-s">
              <p>
                Topic: 54.AVL Trees (EdPuzzle) &#8211; Reflection/Detailed Notes
              </p>
              <p>Lab: AVL Tree (v1.3)</p>
            </td>
          </tr>
          <tr>
            <td class="td-s">01/31</td>
            <td class="td-s"></td>
            <td class="td-s">
              <p>Topic: 52.2.Huffman Coding</p>
              <p>Worksheet: Binary Tree, Huffman Coding</p>
            </td>
          </tr>
          <tr>
            <td class="td-s">01/27</td>
            <td class="td-s"></td>
            <td class="td-s">Lab Day</td>
          </tr>
          <tr>
            <td class="td-s">01/22</td>
            <td class="td-s"></td>
            <td class="td-s">Lab Day</td>
          </tr>
          <tr>
            <td class="td-s">01/17</td>
            <td class="td-s"></td>
            <td class="td-s">
              <p>Topic: Binary Trees</p>
              <p>Lab: Binary Search Tree Insert</p>
            </td>
          </tr>
          <tr>
            <td class="td-s">01/13</td>
            <td class="td-s"></td>
            <td class="td-s">
              <p>Topic: Queues &amp; Priority Queues</p>
              <p>Lab: LaQueue &#8211; IPC</p>
            </td>
          </tr>
          <tr>
            <td class="td-s">01/09</td>
            <td class="td-s"></td>
            <td class="td-s">Lab Day</td>
          </tr>
          <tr>
            <td class="td-s">01/07</td>
            <td class="td-s"></td>
            <td class="td-s">
              <p>Topic: Stacks</p>
              <p>Lab: Towers of Hanoi</p>
            </td>
          </tr>
          <tr>
            <td class="td-s">12/12</td>
            <td class="td-s"></td>
            <td class="td-s">
              <h2 style="text-align: center">
                <span style="color: #ff0000"
                  ><strong>* * * * * CUT-OFF * * * * *</strong></span
                >
              </h2>
              <p style="text-align: center">
                All Assignments except Final Project
              </p>
            </td>
          </tr>
          <tr>
            <td class="td-s">12/08</td>
            <td class="td-s"></td>
            <td class="td-s">
              <p style="text-align: left">
                <span style="color: #000000"
                  >Lab: Komplex Kanban &#8211; Unit Tests and Stubs</span
                >
              </p>
            </td>
          </tr>
          <tr>
            <td class="td-s">12/05</td>
            <td class="td-s"></td>
            <td class="td-s"></td>
          </tr>
          <tr>
            <td class="td-s">11/25-29</td>
            <td class="td-s"></td>
            <td
              style="
                border: 1px solid #000000;
                background-color: #f8b12c;
                text-align: center;
              "
            >
              <h2>
                <span style="color: #9d221e" data-sheets-root="1"
                  >Fall Break</span
                >
              </h2>
            </td>
          </tr>
          <tr>
            <td class="td-s">11/13</td>
            <td class="td-s"></td>
            <td class="td-s">
              <p>Topic: SDLC Overveiw &#8211; Edpuzzle (2024)</p>
              <p>Worksheet: Code Review</p>
            </td>
          </tr>
          <tr>
            <td class="td-s">11/11</td>
            <td class="td-s"></td>
            <td class="td-s">
              <ul>
                <li>
                  <span data-sheets-root="1"
                    >Fall Team Affinity
                    <a
                      href="https://docs.google.com/forms/d/e/1FAIpQLScF30ImtXjMZFwRzdx3LnbGEgRvEDGFe32jX4wyfPhdbySYpw/viewform"
                      >Form</a
                    ></span
                  >
                </li>
                <li>Topic: 100.OS Introduction (EdPuzzle)</li>
                <li>Worksheet: FAT File Systems</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="td-s">11/04</td>
            <td class="td-s"></td>
            <td class="td-s">
              <span data-sheets-root="1"
                >Topic: Crash Course Operating Systems (EdPuzzle)<br />
                Lab Day – LASA Air Logistics<br />
                Worksheet: C++ Header Guidelines<br />
              </span>
            </td>
          </tr>
          <tr>
            <td class="td-s">10/30</td>
            <td class="td-s"></td>
            <td class="td-s">
              <p>
                Supplemental: U.S. cybersecurity officials warn of foreign
                efforts to sow doubt and chaos around election (edPuzzle)
              </p>
              <p>Topic: 50. Linked List (EdPuzzle – BLEND)</p>
              <p>Lab: LASA – Air Logistics (LASAlle)</p>
            </td>
          </tr>
          <tr>
            <td class="td-s">10/28</td>
            <td class="td-s"></td>
            <td class="td-s">Lab Day &#8211; Finish Operator Overload</td>
          </tr>
          <tr>
            <td class="td-s">10/23</td>
            <td class="td-s"></td>
            <td class="td-s">
              <ul>
                <li class="first-child">GP2 Class Administration (2024)</li>
                <li class="first-child">
                  Topic: 13.2.Operator Overloading (EdPuzzle)
                </li>
                <li class="last-child">Lab: Operator Overload</li>
                <li class="last-child">
                  Reference:
                  <a
                    href="https://web.archive.org/web/20230410151736/https://www.bogotobogo.com/cplusplus/operatoroverloading.php"
                    >C++ Operator Overloading</a
                  >
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="td-s">10/21</td>
            <td class="td-s"></td>
            <td class="td-s">
              <p>Software Engineering theme</p>
              <p>
                Reading:<em>
                  (The contents of these articles will be included on quiz)</em
                >
              </p>
              <ul>
                <ul>
                  <li class="first-child">
                    <a
                      href="https://www.techrepublic.com/article/developers-guide-to-peer-reviews/"
                      >Developer’s Guide to Peer Reviews</a
                    >
                  </li>
                  <li>
                    <a href="https://css-tricks.com/code-review-etiquette/"
                      >Code Review Etiquette<br />
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://drive.google.com/file/d/1Pi-IshGfTB4UiKvxm05TE9ovpw_Z8Ioh/view?usp=sharing"
                      >Code Review Guidelines (from Code Project)</a
                    >
                  </li>
                  <li class="last-child">
                    Difference Between Cohesion and Coupling (<a
                      href="https://www.baeldung.com/cs/cohesion-vs-coupling"
                      >article</a
                    >)
                  </li>
                </ul>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="td-s">10/18</td>
            <td class="td-s"></td>
            <td class="td-s">Lab Day</td>
          </tr>
          <tr>
            <td class="td-s">10/16</td>
            <td class="td-s"></td>
            <td class="td-s">
              <p>Topic: Friends and Inheritance (EdPuzzle)</p>
              <p>Lab: 14.Inheritance And Friends</p>
            </td>
          </tr>
          <tr>
            <td class="td-s">10/11</td>
            <td class="td-s"></td>
            <td class="td-s">GP1 Exam</td>
          </tr>
          <tr>
            <td class="td-s">10/07</td>
            <td class="td-s"></td>
            <td class="td-s">Lab Day</td>
          </tr>
          <tr>
            <td class="td-s">10/02</td>
            <td class="td-s"></td>
            <td class="td-s">
              <ul>
                <li>Topic: 11. Dynamic Memory (EdPuzzle)</li>
                <li>Lab: Dynamic Memory Lab (Submit on Blend)</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="td-s">09/30</td>
            <td class="td-s"></td>
            <td class="td-s">
              <ul>
                <li class="last-child">SoloLearn: C++: Set 3</li>
                <li class="last-child">SoloLearn: C++ Set 4</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="td-s">09/27</td>
            <td class="td-s"></td>
            <td class="td-s">Lab Day</td>
          </tr>
          <tr>
            <td class="td-s">09/25</td>
            <td class="td-s"></td>
            <td class="td-s">
              <p>Topic: Intro to C++ Classes (EdPuzzle)</p>
              <p>Lab: Sales Data – II (Submit on Blend)</p>
            </td>
          </tr>
          <tr>
            <td class="td-s">09/23</td>
            <td class="td-s"></td>
            <td class="td-s">
              Worksheet: Pointers II–
              <a
                href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                ><img
                  class=""
                  src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                  alt="blend_small"
                  width="40"
                  height="21"
              /></a>
              in BLEND
            </td>
          </tr>
          <tr>
            <td class="td-s">09/18</td>
            <td class="td-s"></td>
            <td class="td-s">Lab Day</td>
          </tr>
          <tr>
            <td class="td-s">09/16</td>
            <td class="td-s"></td>
            <td class="td-s">
              <p>
                Topic: C++ File I/O (videoquiz) –
                <a
                  href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                  ><img
                    class=""
                    src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    alt="blend_small"
                    width="40"
                    height="21"
                /></a>
                in BLEND
              </p>
              <p>Lab: C++ File I/O: World Data</p>
            </td>
          </tr>
          <tr>
            <td class="td-s">09/13</td>
            <td class="td-s"></td>
            <td class="td-s">Lab Day</td>
          </tr>
          <tr>
            <td class="td-s">09/11</td>
            <td class="td-s"></td>
            <td class="td-s">
              <p>
                Topic: 12.Structs (videoquiz) –
                <a
                  href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                  ><img
                    class=""
                    src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    alt="blend_small"
                    width="40"
                    height="21"
                /></a>
                in BLEND
              </p>
              <p>Lab: Sales Data I</p>
            </td>
          </tr>
          <tr>
            <td class="td-s">09/09</td>
            <td class="td-s"></td>
            <td class="td-s">
              <span style="color: #000000">Worksheet: pointers –</span>
              <a
                href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                ><img
                  class=""
                  src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                  alt="blend_small"
                  width="40"
                  height="21"
              /></a>
              <span style="color: #000000">in BLEND</span>
            </td>
          </tr>
          <tr>
            <td class="td-s">09/04</td>
            <td class="td-s"></td>
            <td class="td-s">
              Lab: Lexical Analyzer (see
              <a
                href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                ><img
                  class=""
                  src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                  alt="blend_small"
                  width="40"
                  height="21"
              /></a>
              Blend )
            </td>
          </tr>
          <tr>
            <td class="td-s">08/30</td>
            <td class="td-s"></td>
            <td class="td-s">
              Topics
              <ul>
                <li class="first-child">
                  07.Functions (videoquiz) –
                  <a
                    href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    ><img
                      class=""
                      src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                      alt="blend_small"
                      width="40"
                      height="21"
                  /></a>
                  in BLEND
                </li>
                <li>
                  08.Arrays (videoquiz) –
                  <a
                    href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    ><img
                      class=""
                      src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                      alt="blend_small"
                      width="40"
                      height="21"
                  /></a>
                  in BLEND
                </li>
                <li class="last-child">
                  10. Pointers (videoquiz) –
                  <a
                    href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    ><img
                      class=""
                      src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                      alt="blend_small"
                      width="40"
                      height="21"
                  /></a>
                  in BLEND
                </li>
              </ul>
              <p>Tasks:</p>
              <p>
                sololearn: Basic Concept, Conditionals &amp; Loops, Data Types
                Arrays, &amp; Pointers. (Sections through 32)
              </p>
            </td>
          </tr>
          <tr>
            <td class="td-s">08/28</td>
            <td class="td-s"></td>
            <td class="td-s">
              Topic – Playposit:
              <ul>
                <li class="first-child">
                  03.Strings (videoquiz) –
                  <a
                    href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    ><img
                      class=""
                      src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                      alt="blend_small"
                      width="40"
                      height="21"
                  /></a>
                  in BLEND
                </li>
                <li>
                  04.Operators (videoquiz) –
                  <a
                    href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    ><img
                      class=""
                      src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                      alt="blend_small"
                      width="40"
                      height="21"
                  /></a>
                  in BLEND
                </li>
                <li class="last-child">
                  05.BasicI/O (videoquiz) –
                  <a
                    href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    ><img
                      class=""
                      src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                      alt="blend_small"
                      width="40"
                      height="21"
                  /></a>
                  in BLEND
                </li>
              </ul>
              <p>Worksheet: Finish – Data Representation</p>
              <p>
                Sololearn Beginner &#8211; C++: Basics Concepts –
                <a
                  href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                  ><img
                    class=""
                    src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    alt="blend_small"
                    width="40"
                    height="21"
                /></a>
                in BLEND
              </p>
            </td>
          </tr>
          <tr>
            <td class="td-s">08/26</td>
            <td class="td-s"></td>
            <td class="td-s">
              <p>
                Topic:
                <a
                  href="https://web.archive.org/web/20230410151736/https://docs.google.com/presentation/d/1_gED_VoJBP2nMZe1HAFzbAJhQwdfBSDjfmXjmcjoXt4/edit?usp=sharing"
                  >02.DataTypes</a
                >
                (videoquiz) –
                <a
                  href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                  ><img
                    class=""
                    src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    alt="blend_small"
                    width="40"
                    height="21"
                /></a>
                in BLEND
              </p>
              <p>
                Worksheet: Data Representation –
                <a
                  href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                  ><img
                    class=""
                    src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    alt="blend_small"
                    width="40"
                    height="21"
                /></a>
                BLEND
              </p>
              <p>Reference:</p>
              <ul>
                <li class="first-child last-child">
                  Tutorial:
                  <a
                    href="https://web.archive.org/web/20230410151736/https://docs.google.com/document/d/1HmYRXZwjhv7K6NUe9ZKO8NSSHNSHUXr8AeevDHPQMpI/edit?usp=sharing"
                    >Floating Point Addition</a
                  >
                </li>
                <li class="first-child last-child">
                  IEEE -754 Explainer:
                  <a
                    href="https://web.archive.org/web/20230410151736/http://mathcenter.oxford.emory.edu/site/cs170/ieee754/"
                    >The IEEE 754 Format</a
                  >
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="td-s">08/22</td>
            <td class="td-s"></td>
            <td class="td-s">
              <p>
                Topic:
                <a
                  href="https://docs.google.com/presentation/d/1W24V7rDp4JMgrH9WVWxxBkeyU6wspiEXYmqvg7xm8Ho/edit?usp=sharing"
                  >01.Introduction</a
                >
                (<a
                  href="https://docs.google.com/presentation/d/14pxjT7XUTc0uh_N3oIY8r-Hv69TKOF1P3_UjSL-lA8g/edit?usp=sharing"
                  >narrated &#x1f56a;</a
                >)
              </p>
              <p>
                Controlling the Computer with the
                <a
                  href="https://docs.google.com/presentation/d/1Pm7e8HlnJ7DMHEYHhZ84a9w4-GHlfJYz0l7XUfhV1gA/present?usp=sharing"
                  >Command Prompt</a
                >
              </p>
              <p>Hello C++</p>
            </td>
          </tr>
          <tr>
            <td class="td-s">08/20</td>
            <td class="td-s"></td>
            <td class="td-s">
              <p>
                WELCOME HOME!
                <img
                  src="https://lasacs.com/wp-includes/images/smilies/simple-smile.png"
                  alt=":)"
                  class="wp-smiley"
                  style="height: 1em; max-height: 1em"
                />
              </p>
              <p>
                The goal today is to get reacquainted and to get a general idea
                about the course.
              </p>
              <ul>
                <ul>
                  <li class="first-child">
                    <a
                      href="https://docs.google.com/forms/d/e/1FAIpQLSdeIBpDETMEMJsHpSZwJbi5ruZEg8zW7VQd0E1qDyK2uItBRw/viewform"
                      >Student Survey</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://docs.google.com/presentation/d/1IrNzPPWJ35Ve8vPYnVZ8Q41J2cabFIQYq4gKYIx4WnY/present?usp=sharing"
                      >Course Intro</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://docs.google.com/presentation/d/1Cc9k7xcPDWQ5X4AOHR8qTBVxmQlcYEW2ts1Ld-bXDVI/present?usp=sharing"
                      >Instructor Bio</a
                    >
                  </li>
                  <li>lasacsclubs.com</li>
                  <li>Computer Science Club</li>
                  <li>Women in Computer Science Club (WICS)</li>
                  <li>Cyberpatriot, Hack Club</li>
                  <li>
                    <a href="https://lasacs.com/tutoring/" target="_blank"
                      >Peer Tutoring</a
                    >
                  </li>
                </ul>
              </ul>
              <ul>
                <li>
                  <a
                    href="https://docs.google.com/document/d/11yoUcpgAnF11j2iTgKpEPV_2rZkkfsH2NWUJ_U4N-sA/edit?usp=sharing"
                    >Course info</a
                  >
                </li>
                <li class="last-child">
                  Learning to Learn:<a
                    href="https://docs.google.com/spreadsheets/d/1rPweymkzDGAF8_jNb3yygchXn8Zp8M25sCWqkfv6OGY/edit?usp=sharing"
                    >&#8230;.</a
                  >
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </main>
    <footer>
      <p>Website licensed under CC-BY-SA-3.0</p>
    </footer>
    <script type="text/javascript" src="../static/js/scripts.js"></script>
  </body>
</html>
