<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LASA CS</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/table.css" />
  </head>
  <body>
    <nav id="navbar">
      <ul>
        <li id="hamburger-menu">
          <a href="javascript:void(0);" class="icon" onclick="makeResponsive()">
            <i class="fa fa-bars"></i>
          </a>
        </li>
        <li class="logo-li">
          <a href="{{ url_for('index') }}">
            <img
              src="../static/images/logo.png"
              id="logo-nav"
              alt="LASA CS Logo"
            />
          </a>
        </li>
        <li class="li-page">
          <a href="">Courses</a>
          <ul class="dropdown1 dropdown">
            <li><a href="/ap">AP Computer Science</a></li>
            <li><a href="/acs">Advanced CS</a></li>
            <li><a href="/de">Digital Electronics</a></li>
            <li><a href="/fun">Fundamentals of CS</a></li>
            <li><a href="/web">Web & Mobile Apps</a></li>
            <li><a href="/is">Independent Study CS</a></li>
          </ul>
        </li>
        <li class="li-page">
          <a href="">Resources</a>
          <ul class="dropdown2 dropdown">
            <li>
              <a href="https://sites.google.com/view/lasacsclubs">Clubs</a>
            </li>
            <li><a href="https://lasacs.com/tutoring/">Peer Tutors</a></li>
            <li><a href="https://lasacs.com/uil/">UIL CS</a></li>
            <li><a href="https://lasacs.com/calendar/">Calendar</a></li>
            <li><a href="https://lasacs.com/online/">Online Challenges</a></li>
            <li>
              <a href="https://lasacs.com/opportunities/">Opportunities</a>
            </li>
          </ul>
        </li>
        <li class="li-page">
          <a href="">Explore</a>
          <ul class="dropdown3 dropdown">
            <li><a href="https://lasacs.com/comptometer/">Comptometer</a></li>
            <li><a href="https://lasacs.com/hw/">Hardware</a></li>
            <li>
              <a
                href="https://docs.google.com/document/d/1hccpgLyOnDgHxg0o7nQu3Z6GlENzazQAhsEvIv9iYyM/edit?usp=sharing"
                >Puzzles
              </a>
            </li>
            <li><a href="https://lasacs.com/books/">Books</a></li>
          </ul>
        </li>
        <li class="li-page" id="about-li">
          <a href="" id="about-a">About</a>
          <ul class="dropdown4">
            <li><a href="https://lasacs.com/why/">Why study CS?</a></li>
            <li><a href="https://lasacs.com/courses/">Course Info</a></li>
            <li><a href="https://lasacs.com/contact-info/">Contact</a></li>
            <li>
              <a
                href="https://docs.google.com/presentation/d/12Efq2NIv_hBh-9nt1Ymhv1LK-apdGTD4VCRipKa3tgU/edit?usp=sharing"
                >Teacher Tech
              </a>
            </li>
            <li>
              <a
                href="https://docs.google.com/spreadsheet/viewform?hl=en_US&formkey=dFVzRUZ5cnFhYnQzQll1VGxINTIyd1E6MQ#gid=0"
                >Feedback
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <main>
      <h1 class="title-header">AP Computer Science</h1>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <table class="table">
        <tbody>
          <tr class="td-s impact">
            <td></td>
            <td>
              <span class="td-s"><strong>Date</strong></span>
            </td>
            <td>
              <span class="td-s" id="notes-ap"><strong>Notes</strong></span>
            </td>
            <td class="td-s">
              <span class="td-s"><strong>Class Activities</strong></span>
            </td>
          </tr>
          <p>
            <!-- *************************************************** TOP OF ASSIGNMENTS *************************************************** -->
          </p>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">05/07</td>
            <td class="td-s"></td>
            <td class="td-s">
              <strong><b>AP Computer Science A test @ noon</b></strong>
            </td>
          </tr>
          <tr style="background-color: #fae1e1">
            <td class="td-s"></td>
            <td class="td-s">05/22</td>
            <td class="td-s"></td>
            <td class="td-s">
              <strong>End of 9 Weeks</strong>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">05/08</td>
            <td class="td-s"></td>
            <td class="td-s">
              <p>
                <a
                  href="https://docs.google.com/forms/d/1Q8JLOiqI1L1nLgwvf3sm8-CgWc5SMGpIzjxum4TxwMk/preview"
                  >How did it go?</a
                >
              </p>
              <p>Start of Spring Project &#8211; on BLEND</p>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">05/06</td>
            <td class="td-s"></td>
            <td class="td-s">
              LASA&#8217;s
              <a
                href="https://docs.google.com/presentation/d/1H6A-NEPgS2_lNf-JGhCCFzEqB7VC9OIDkAsYJM6fIUs/edit?usp=sharing"
                >Last words of wisdom</a
              >
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>04/16</p>
              <p>04/17</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">FR18 Free Response Practice</td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">04/08</td>
            <td class="td-s"></td>
            <td class="td-s">FR17 Free Response Practice (Juicemind)</td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">04/03</td>
            <td class="td-s"></td>
            <td class="td-s">
              <p>
                Topic:
                <a
                  href="https://drive.google.com/file/d/1I6GwHpo4ZLU98GMyo8300KZePlkWX0x3/view?usp=sharing"
                  >25.Recursion</a
                >
              </p>
              <p>Codingbat: Recursion</p>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">03/27</td>
            <td class="td-s"></td>
            <td class="td-s">
              <p>
                Topic:
                <a
                  href="https://docs.google.com/presentation/d/1eMuzIVY0sEdTuwye8NATEUMkrpT3G2l-f-mnj1N5lRU/edit?usp=sharing"
                  >23a.Searches</a
                >
              </p>
              <p>
                Topic:
                <a
                  href="https://docs.google.com/presentation/d/1XMa3L2f-ZPDIUrTDDs4wNWdkvP5gMSEkUTOF1qCbxRI/edit?usp=drive_link"
                  >23b.Sorts &#8211; CompareTo</a
                >
              </p>
              <p>
                Topic:
                <a
                  href="https://docs.google.com/presentation/d/1rqN1bnMmx--BPcp4MmcZDwUsa-3_EGB2GnE2Y45DqMA/edit?usp=sharing"
                  >23c.Sorting</a
                >
              </p>
              <p>Codingbat: 23a.Binary Search</p>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">03/25</td>
            <td class="td-s"></td>
            <td class="td-s">
              <p>
                Topic:
                <a
                  href="https://docs.google.com/presentation/d/1DrIytTFWX2GXTpF4I2VoVvhvoEitwORTsSqrU1d1wzU/edit?usp=drive_link"
                  >22.Abstract Classes Parts 1&amp;2</a
                >
              </p>
              <p>Lab: Localization</p>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">03/24</td>
            <td class="td-s"></td>
            <td class="td-s">Codingbat: Drills 01</td>
          </tr>
          <tr style="background-color: #fae1e1">
            <td class="td-s"></td>
            <td class="td-s">03/13</td>
            <td class="td-s"></td>
            <td class="td-s">
              <strong>End of 9 Weeks</strong>
            </td>
          </tr>
          <tr style="background-color: #f7ec0c">
            <td class="td-s"></td>
            <td class="td-s">03/11</td>
            <td class="td-s"></td>
            <td class="td-s">
              <h2 class="td-s">
                <span style="color: #ff0000">Submission Cut-Off</span>
              </h2>
              <p>
                APC MC 9.2 9.3 9.4<br />
                Topic: 20b.Polymorphism<br />
                Lab: Hearts CardPlayerLevel1 (Part 4)<br />
                Topic: 20a.Inheritance (playposit)<br />
                Lab: Hearts Lite 3 – CardPlayer<br />
                APC MC 5.1 5.2 5.3<br />
                APC MC 5.4 5.5 5.6<br />
                Lab: Hearts Lite 2 (v2) – Deck (BLEND + REPL)<br />
                APC MC 7.1,7,2,7.3<br />
                APC MC 2.4,2.5,2.8<br />
                Lab: Hearts Part 1 – Card Class (BLEND + REPL)<br />
                Topic: 18.ArrayLists (Playposit – BLEND)<br />
                Lab: Library<br />
                Lab: Album Song &amp; Playlist<br />
                Lab: 16.Vigenere Cipher<br />
                Lab: 14.WordSearch
              </p>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">04/01</td>
            <td class="td-s"></td>
            <td class="td-s">Codingbat: 23a.Binary Search</td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">03/24</td>
            <td class="td-s"></td>
            <td class="td-s">Codingbat: Drills 01</td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>03/07</p>
              <p>03/10</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">APC MC 9.5 9.6 9.7</td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>03/05</p>
              <p>03/06</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <ul>
                <li class="first-child">
                  <strong
                    ><em
                      ><a
                        href="https://docs.google.com/presentation/d/1k05wG4CABswlNjNW-W3hYSDTUJU28q8gUnY965X9_r4/present?usp=sharing"
                        target="_blank"
                        rel="noopener"
                        ><img
                          src="https://lasacs.com/wp-content/uploads/2017/05/icon-slides_sm.png"
                          alt="icon-slides_sm"
                          width="15"
                          height="18"
                      /></a> </em></strong
                  >Topic:
                  <a
                    href="https://docs.google.com/presentation/d/1MoB6CX467x80dJ7CNqD7jc5hEAwsI3bmb1FB3FGoEvg/edit?usp=sharing"
                    >Compositions &amp; Interfaces</a
                  >
                  <ul>
                    <li class="first-child last-child">
                      <a
                        href="https://aisdblend.instructure.com/"
                        target="_blank"
                        rel="noopener"
                        ><img
                          class="alignnone size-full wp-image-7313"
                          src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                          alt="blend_small"
                          width="40"
                          height="21" /></a
                      >Questionnaire: Composition &amp; Interface
                    </li>
                  </ul>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>03/03</p>
              <p>03/04</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">APC MC 9.2 9.3 9.4</td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>02/27</p>
              <p>02/28</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">Lab: Hearts Part 5</td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>02/25</p>
              <p>02/26</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">GP3 Test</td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">02/18</td>
            <td class="td-s"></td>
            <td class="td-s">
              <p>Topic: 20b.Polymorphism 1 &amp; 2 (edPuzzle)</p>
              <p>Lab: Hearts Part 4</p>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">02/14</td>
            <td class="td-s"></td>
            <td class="td-s">
              Topic:
              <a
                href="https://docs.google.com/presentation/d/1MMR7VTzVby_bRiNBGHG-42bfMEwBnG3OxcCO2u0dxPc/edit?usp=sharing"
                >20b.Polymorphism 1 &amp; 2</a
              >
              (edPuzzle)
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>02/12</p>
              <p>02/13</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              Complete edpuzzle on Inheritancce part 2 and Lab: Hearts 3
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>02/10</p>
              <p>02/11</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <p>
                Topic:
                <a
                  href="https://docs.google.com/presentation/d/19fUXwhzYCZMRQoMzxGF0pMJ21slx8PnAAhcXQnhIzhU/edit?usp=sharing"
                  >20a.Inheritance 1 &amp; 2</a
                >
                (edPuzzle) &#8211; Part 1 to be completed in class.
              </p>
              <p>Lab: Hearts Lite 3 – CardPlayer</p>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>02/06</p>
              <p>02/07</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">Lab Day</td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>02/03&amp;05</p>
              <p>02/04</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <p>Lab: Hearts 2 &#8211; Deck</p>
              <p>
                APC MC 5.1 5.2 5.3<br />
                APC MC 5.4 5.5 5.6
              </p>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>01/30</p>
              <p>01/31</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">APC 7.4, 7.5</td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>01/27</p>
              <p>01/28</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <p>Topic: Hearts Lite Rules</p>
              <p>Lab: Hearts 0</p>
              <p>Lab: Hearts 1</p>
              <p>APC 7.1, 7.2, 7.3</p>
              <p>&nbsp;</p>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>01/15</p>
              <p>01/16</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <p>
                Topic:
                <a
                  href="https://docs.google.com/presentation/d/1jHQCg5jymtKyPLznpCn5fcgKz3Y9UVw3vAkR3wbyLv8/edit?usp=sharing"
                  >18.ArrayLists</a
                >
              </p>
              <p>Lab: Library</p>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>01/13</p>
              <p>01/14</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <p>Topic: 17. Arrays of References</p>
              <p>Lab: Album</p>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>01/09</p>
              <p>01/10</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">Lab: 16.Vigenere Cipher &#8211; Finish</td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>01/07</p>
              <p>01/08</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              Lab Day:
              <ul>
                <li>Lab: 16.Vigenere Cipher &#8211; Start</li>
                <li>Lab: 14.WordSearch &#8211; Finish</li>
              </ul>
            </td>
          </tr>
          <tr style="background-color: #fae1e1">
            <td class="td-s"></td>
            <td class="td-s">12/12</td>
            <td class="td-s"></td>
            <td class="td-s">
              <strong>End of 9 Weeks</strong>
            </td>
          </tr>
          <tr style="background-color: #f7ec0c">
            <td class="td-s"></td>
            <td class="td-s">12/12</td>
            <td class="td-s"></td>
            <td class="td-s">
              <h2 class="td-s">
                <span style="color: #ff0000"
                  ><strong>* * * * * CUT-OFF * * * * *</strong></span
                >
              </h2>
              <p class="td-s">All Assignments</p>
              <p class="td-s">Check-It Out!</p>
            </td>
          </tr>
          <p>
            <!-----  Break  ------>
            <!-------  Break   -------->
          </p>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">12/17P5</td>
            <td class="td-s"></td>
            <td class="td-s">IS Presentation Review</td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>12/13</p>
              <p>12/16</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              Topic: 16. References and Parameters &#8211; Parts 1, 2, 3, &amp;
              4 (EdPuzzle/BLEND)
              <ul>
                <li>Part 1 in class</li>
                <li>Part 2, 3, &amp; 4 by 10pm Sunday</li>
              </ul>
              <p>
                PREVIEW &#8211; Lab: 16.Vigenere (juicemind / BLEND) &#8211; Not
                due until January
              </p>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>12/11</p>
              <p>12/12</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <h2 class="td-s">Mid-Term</h2>
              <p>What you Should Know –</p>
              <ul>
                <li class="first-child">All preceding material</li>
                <li class="first-child">
                  <a
                    href="https://docs.google.com/presentation/d/1i7VF1oWuuyCpaJ7s40SurWSfoDa8es_RB-tEp6ENbq4/edit?usp=sharing"
                    target="_blank"
                    rel="noopener"
                    >Data Types</a
                  >
                </li>
                <li class="first-child">
                  <a
                    href="https://docs.google.com/presentation/d/1E8AE4Sky75YijaF2-E_QUewAHyFns2-YJEK9zoc5lsU/edit?usp=sharing"
                    target="_blank"
                    rel="noopener"
                    >Strings</a
                  >
                </li>
                <li class="first-child">
                  <a
                    href="https://docs.google.com/presentation/d/1tXGNtdrD-GYpjUIiZbarRUIBboTc9fVzC9E64winNIw/edit?usp=sharing"
                    target="_blank"
                    rel="noopener"
                    >Objects</a
                  >
                </li>
                <li class="first-child">
                  <a
                    href="https://docs.google.com/presentation/d/1Zxs4DiiNuyL8FpULKEov3KnJnuQAuMeTwjfmFtDqLY4/edit?usp=sharing"
                    >07 &amp; 08.Conditionals</a
                  >
                </li>
                <li>
                  <a
                    href="https://web.archive.org/web/20230409140335/https://docs.google.com/presentation/d/1-yrElhEIm5ScFg3WRh6edAO1y9rcH8IlTqUFUsvJ7IM/edit?usp=sharing"
                    >09.While &amp; Do-While Loops</a
                  >
                </li>
                <li class="last-child">
                  <a
                    href="https://docs.google.com/presentation/d/1BKrb_ULNmDCKVWJTNl-v8cRWWZBZK0Cg9zZxvF0JkhI/edit?usp=sharing"
                    >10.For Loops &amp; For-Each Loops</a
                  >
                </li>
                <li class="last-child">
                  <a
                    href="https://docs.google.com/presentation/d/1ESAwpMXa17EPNv6Xv8sAT-fyhzlcRyex9qkzc23P34o/edit?usp=sharing"
                    >12.Arrays</a
                  >
                </li>
                <li class="last-child">
                  <a
                    href="https://docs.google.com/presentation/d/1hfHuSSTKdoCA05_Po-z8PUCyibDoCFbEdD8IDDfmbxk/edit?usp=sharing"
                    >14.2D Arrays</a
                  >
                </li>
              </ul>
              <p style="text-align: justify"></p>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>11/23</p>
              <p>*</p>
              <p>11/31</p>
            </td>

            <td class="td-s"></td>
            <td>
              <h1 class="td-s">
                <span class="td-s">Fall Break</span>
              </h1>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>11/20</p>
              <p>11/21</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <h2 class="td-s">2nd Grading Period Exam</h2>
              <p>What you Should Know –</p>
              <ul>
                <li class="first-child">All preceding material</li>
                <li class="first-child">
                  <a
                    href="https://docs.google.com/presentation/d/1i7VF1oWuuyCpaJ7s40SurWSfoDa8es_RB-tEp6ENbq4/edit?usp=sharing"
                    target="_blank"
                    rel="noopener"
                    >Data Types</a
                  >
                </li>
                <li class="first-child">
                  <a
                    href="https://docs.google.com/presentation/d/1E8AE4Sky75YijaF2-E_QUewAHyFns2-YJEK9zoc5lsU/edit?usp=sharing"
                    target="_blank"
                    rel="noopener"
                    >Strings</a
                  >
                </li>
                <li class="first-child">
                  <a
                    href="https://docs.google.com/presentation/d/1tXGNtdrD-GYpjUIiZbarRUIBboTc9fVzC9E64winNIw/edit?usp=sharing"
                    target="_blank"
                    rel="noopener"
                    >Objects</a
                  >
                </li>
                <li class="first-child">
                  <a
                    href="https://docs.google.com/presentation/d/1Zxs4DiiNuyL8FpULKEov3KnJnuQAuMeTwjfmFtDqLY4/edit?usp=sharing"
                    >07 &amp; 08.Conditionals</a
                  >
                </li>
                <li>
                  <a
                    href="https://web.archive.org/web/20230409140335/https://docs.google.com/presentation/d/1-yrElhEIm5ScFg3WRh6edAO1y9rcH8IlTqUFUsvJ7IM/edit?usp=sharing"
                    >09.While &amp; Do-While Loops</a
                  >
                </li>
                <li>
                  <a
                    href="https://docs.google.com/presentation/d/1BKrb_ULNmDCKVWJTNl-v8cRWWZBZK0Cg9zZxvF0JkhI/edit?usp=sharing"
                    >10.For Loops &amp; For-Each Loops</a
                  >
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>11/18</p>
              <p>11/19</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">Lab: Collatz (JuiceMind)</td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>11/14</p>
              <p>11/15</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <p>Topic: 12.Arrays Parts 1, 2, &amp; 3</p>
              <p>Lab: Codingbat Arrays (v2)</p>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>11/12</p>
              <p>11/13</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <p>Worksheet: For Loops Matching (BLEND)</p>
              <p>Lab: Deal (v3)</p>
              <ul>
                <li class="first-child">
                  Info:
                  <a
                    href="https://www.youtube.com/watch?v=4Lb-6rxZxx0"
                    target="_blank"
                    >Monty Hall Problem</a
                  >
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>11/08</p>
              <p>11/11</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <ul>
                <li class="first-child">APC MC 2.1 2.2 2.3</li>
                <li class="last-child">APC Unit 2 PC: MCQ Part A</li>
                <li class="last-child">
                  <a
                    href="https://apclassroom.collegeboard.org/"
                    target="_blank"
                    rel="noopener"
                    >APC</a
                  >
                  Unit 2 PC:MCQ Part B
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>11/06</p>
              <p>11/07</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <ul>
                <li class="first-child">Topic: 10.For Loops (EdPuzzle)</li>
                <li class="first-child">
                  Topic: 09.While Loops (EdPuzzle) on BLEND
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>10/31B</p>
              <p>11/04A</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <p>
                Supplemental: U.S. cybersecurity officials warn of foreign
                efforts to sow doubt and chaos around election
              </p>
              <p>CodingBat Logic Exercises – BLEND</p>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>10/29B</p>
              <p>10/30A</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              Topic: 08a.Else/Elseif &#8211; part 1 (EdPuzzle)<br />
              Topic: 08b.Else/Elseif &#8211; part 2 (EdPuzzle)<br />
              Topic: 08c.Else/Elseif &#8211; part 3 (EdPuzzle)Lab: 07.
              InOrderColors (v1)
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>10/25B</p>
              <p>10/28A</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">Lab</td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>10/23A</p>
              <p>10/24B</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <ul>
                <li class="first-child">
                  First Objects: Book &amp; StudentID
                  <ul>
                    <li class="first-child">Book</li>
                    <li class="last-child">StudentId</li>
                  </ul>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>10/21A</p>
              <p>10/22B</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <ul>
                <li>
                  <a
                    href="https://apclassroom.collegeboard.org/"
                    target="_blank"
                    >APC</a
                  >
                  Unit 1 PC: Part A
                  <a
                    href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    ><img
                      class=""
                      src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                      alt="blend_small"
                      width="40"
                      height="21"
                  /></a>
                  &#8211; To Be completed in class
                </li>
                <li>
                  <a
                    href="https://apclassroom.collegeboard.org/"
                    target="_blank"
                    >APC</a
                  >
                  Unit 1 PC: Part B
                  <a
                    href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    ><img
                      class=""
                      src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                      alt="blend_small"
                      width="40"
                      height="21"
                  /></a>
                </li>
                <li class="last-child">
                  <a
                    href="https://apclassroom.collegeboard.org/"
                    target="_blank"
                    >APC</a
                  >
                  MC 2.6,2.7,2.9
                  <a
                    href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    ><img
                      class=""
                      src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                      alt="blend_small"
                      width="40"
                      height="21"
                  /></a>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>10/17</p>
              <p>10/18</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <p>&nbsp;</p>
              <p>Finish: 06.DiceProject</p>
              <p>
                <span class="td-s"
                  >07. Booleans &amp; if statements – Parts 1, 2, &amp; 3
                  (EdPuzzle)</span
                >
              </p>
              <p>&nbsp;</p>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">10/11</td>
            <td class="td-s"></td>
            <td class="td-s">
              <h2 class="td-s">
                <strong
                  ><span style="color: #ff0000"
                    >Deadline to Register for AP Exam in spring</span
                  ></strong
                >
              </h2>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>10/10B</p>
              <p>10/11A</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <h2 class="td-s">
                &gt;&gt;&gt;&gt;
                <span class="td-s">GP1 Exam</span> &lt;&lt;&lt;&lt;
              </h2>
              <p>What you Should Know –</p>
              <ul>
                <li class="first-child">
                  <a
                    href="https://docs.google.com/presentation/d/1i7VF1oWuuyCpaJ7s40SurWSfoDa8es_RB-tEp6ENbq4/edit?usp=sharing"
                    target="_blank"
                    rel="noopener"
                    >Data Types</a
                  >
                </li>
                <li>
                  <a
                    href="https://docs.google.com/presentation/d/1E8AE4Sky75YijaF2-E_QUewAHyFns2-YJEK9zoc5lsU/edit?usp=sharing"
                    target="_blank"
                    rel="noopener"
                    >Strings</a
                  >
                </li>
                <li>
                  <a
                    href="https://docs.google.com/presentation/d/1tXGNtdrD-GYpjUIiZbarRUIBboTc9fVzC9E64winNIw/edit?usp=sharing"
                    target="_blank"
                    rel="noopener"
                    >Objects</a
                  >
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>10/07A</p>
              <p>10/08B</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <p>LASA{CS}-ASK</p>
              <p>Lab Day</p>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">10/02</td>
            <td class="td-s"></td>
            <td class="td-s">Lab Day</td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>09/30A</p>
              <p>10/01B</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <p>AP QUIZ 2 &#8211; Strings.</p>
              <p>Topic: 06b.Objects Part 2</p>
              <p>06.Objects Parts 1 &amp; 2 Reflection</p>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>09/26B</p>
              <p>09/27A</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">Lab Day</td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>09/24B</p>
              <p>09/25A</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <p>Topic: 06a.Objects</p>
              <p>Lab: Fun-With-Turtles</p>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>09/20</p>
              <p>09/23</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <h5><strong>Strings</strong></h5>
              <ul>
                <li class="first-child last-child">
                  <a
                    href="https://docs.google.com/presentation/d/1k05wG4CABswlNjNW-W3hYSDTUJU28q8gUnY965X9_r4/present?usp=sharing"
                    target="_blank"
                    ><img
                      src="https://lasacs.com/wp-content/uploads/2017/05/icon-slides_sm.png"
                      alt="icon-slides_sm"
                      width="15"
                      height="18"
                  /></a>
                  05.Strings (videoquiz) –
                  <a
                    href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    ><img
                      class=""
                      src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                      alt="blend_small"
                      width="40"
                      height="21"
                  /></a>
                  in BLEND
                  <ul>
                    <li class="first-child">
                      <a
                        href="https://docs.google.com/document/d/1Mqmy-uIJh6K1L4aKerlL-w47DW5vl24g3UbDyo3v4cs/edit?usp=sharing"
                        target="_blank"
                        >CodingBat signup and register with class</a
                      >
                    </li>
                    <li class="first-child last-child">
                      CodingBat String Exercises – in BLEND
                    </li>
                  </ul>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">09/18A</td>
            <td class="td-s"></td>
            <td class="td-s">
              Topic:
              <a
                href="https://docs.google.com/presentation/d/1v48D8ogyfFtZeIKsiO-8iW7I0OTLS6hbVlSqTXqsY9A/edit?usp=sharing"
                >Number Bases</a
              >
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>09/16A</p>
              <p>09/17B</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <ul>
                <li class="first-child">Static Method Walkthrough</li>
                <li class="first-child">LASA{CS}Ask &#8211; Mods 1 to 4</li>
                <li class="last-child">
                  Lab: Writing and Calling Methods (con&#8217;t)
                  <ul>
                    <li class="first-child">Task</li>
                    <li class="last-child">Invoke</li>
                  </ul>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>09/12</p>
              <p>09/13</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <ul>
                <li class="first-child">
                  <img
                    src="https://lasacs.com/wp-content/uploads/2017/05/icon-slides_sm.png"
                    alt="icon-slides_sm"
                    width="15"
                    height="18"
                  />
                  Topic:
                  <span class="td-s"
                    >04.Static Methods &amp; random() (videoquiz) –</span
                  >
                  <a
                    href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    ><img
                      class=""
                      src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                      alt="blend_small"
                      width="40"
                      height="21"
                  /></a>
                  in BLEND
                </li>
                <li class="last-child">
                  <span class="td-s">Interactive Problem Solving (Blend) </span>
                </li>
                <li class="last-child">LASA{CS}Ask &#8211; Mods 1 to 3</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>09/10</p>
              <p>09/11</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <p><span class="td-s">AP MC Test Experience</span></p>
              <p>
                This is an AP like MC test to show you what the actual AP test
                will be like so that you can better understand the purpose of
                the course topics.
              </p>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>09/06B</p>
              <p>09/09A</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <span class="td-s">Lab: Four Pack (Blend) :</span>
              <ul>
                <li class="first-child">
                  <span class="td-s">Tasteable? (Tasteable.java)</span>
                </li>
                <li>
                  <span class="td-s">How many pages? (Pages. java)</span>
                </li>
                <li>
                  <span class="td-s">Gallons Wasted? (Drips.java)</span>
                </li>
                <li class="last-child">
                  <span class="td-s">Bean Count? (Jeelybean.java)</span>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>09/04A</p>
              <p>09/05B</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              Labs on BLEND
              <ol>
                <li>
                  <img
                    class="alignnone size-full wp-image-13165"
                    src="https://lasacs.com/wp-content/uploads/2018/09/replit1.png"
                    alt="replit"
                    width="20"
                    height="20"
                  />
                  Hello Plus!
                </li>
                <li class="first-child last-child">
                  <img
                    class="alignnone size-full wp-image-13165"
                    src="https://lasacs.com/wp-content/uploads/2018/09/replit1.png"
                    alt="replit"
                    width="20"
                    height="20"
                  />
                  Hello Input!
                </li>
              </ol>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>08/30A</p>
              <p>09/03B</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <p>
                Topic: 03.Input functions (videoquiz) –
                <a
                  href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                  ><img
                    class=""
                    src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    alt="blend_small"
                    width="40"
                    height="21"
                /></a>
                in BLEND
              </p>
              <p>APC MC 1.4 (4-6) &amp; 1.5</p>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>08/28</p>
              <p>08/29</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <ul>
                <li class="first-child">
                  Topic: 02.Data types: Numeric (videoquiz) –
                  <a
                    href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    ><img
                      class=""
                      src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                      alt="blend_small"
                      width="40"
                      height="21"
                  /></a>
                  in BLEND
                </li>
                <li class="first-child">
                  Topic: 02.Data types: Alpha (videoquiz) –
                  <a
                    href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    ><img
                      class=""
                      src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                      alt="blend_small"
                      width="40"
                      height="21"
                  /></a>
                  in BLEND
                  <ul>
                    <li class="first-child last-child">
                      <img
                        class="alignnone size-full wp-image-13165"
                        src="https://lasacs.com/wp-content/uploads/2018/09/replit1.png"
                        alt="replit"
                        width="20"
                        height="20"
                      />
                      First Practice [10 pts] – REPL.IT
                    </li>
                  </ul>
                </li>
                <li class="last-child">APC MC 1.1 &amp; 1.2</li>
                <li class="last-child">APC MC 1.3 &amp; 1.4 (1-3)</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>08/26</p>
              <p>08/27</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <h5><strong>Output</strong></h5>
              <ul>
                <li class="first-child">
                  <img
                    src="https://lasacs.com/wp-content/uploads/2017/05/icon-slides_sm.png"
                    alt="icon-slides_sm"
                    width="15"
                    height="18"
                  />
                  <a
                    href="https://docs.google.com/presentation/d/1I-nJN6vDH7Po1SfBRtrFHh3yiIerhW8dEJvMUwclJiw/edit?usp=sharing"
                    >Output &amp; Comments</a
                  >
                  <a
                    href="https://docs.google.com/presentation/d/1_bLUitHnjJfIKIqtT8CSfKbRKbJoy4I3sjzhoaKpxU4/edit?usp=sharing"
                    target="_blank"
                    >&#x1f56a;</a
                  >
                </li>
                <li class="first-child">
                  Lab: 01. Intro01: Hello World! Basic &#8211;
                  <a
                    href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    ><img
                      class=""
                      src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                      alt="blend_small"
                      width="40"
                      height="21"
                  /></a>
                  BLEND
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>08/22</p>
              <p>08/23</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <p>
                <a
                  href="https://docs.google.com/presentation/d/1k05wG4CABswlNjNW-W3hYSDTUJU28q8gUnY965X9_r4/present?usp=sharing"
                  target="_blank"
                  ><img
                    class=""
                    src="https://lasacs.com/wp-content/uploads/2017/05/icon-slides_sm.png"
                    alt="icon-slides_sm"
                    width="20"
                    height="24"
                /></a>
                <a
                  href="https://docs.google.com/presentation/d/1uIx34LD5LEOIFCEMq1xWRRKu4WXZuhzuDUB3J6oAhP0/edit?usp=sharing"
                  >Topic: Intro to AP Computer Science (part 1)</a
                >
                <a
                  href="https://docs.google.com/presentation/d/1tSwV62BOzAqNVf8AE9KgvhsVXr5po3BhtiHLK0Neuuw/edit?usp=sharing"
                  >&#x1f56a;1</a
                >
              </p>
              <p>
                <a
                  href="https://docs.google.com/presentation/d/1k05wG4CABswlNjNW-W3hYSDTUJU28q8gUnY965X9_r4/present?usp=sharing"
                  target="_blank"
                  ><img
                    class=""
                    src="https://lasacs.com/wp-content/uploads/2017/05/icon-slides_sm.png"
                    alt="icon-slides_sm"
                    width="20"
                    height="24"
                /></a>
                <a
                  href="https://docs.google.com/presentation/d/1kBQrTOQqb1JmwZ1LT6Ut3Lk-x9EnTCNnpByxRo2jzOA/edit?usp=sharing"
                  >Topic: Introduction (part 2)</a
                >
                <a
                  href="https://docs.google.com/presentation/d/1gYlSCU6TnXJInoFC-8TffIqpLy_GL657G6ODiE0QN14/edit?usp=sharing"
                  >&#x1f56a;2</a
                >
              </p>
              <p>
                Youtube:
                <a href="https://www.youtube.com/watch?v=BlbQsKpq3Ak"
                  >Babbage Differential Engine</a
                >
              </p>
              <p>
                Youtube:
                <a href="https://www.youtube.com/watch?v=SbPSIaB_TRg"
                  >Antikythera mechanism</a
                >
              </p>
              <ul>
                <li class="first-child">
                  Topic:
                  <a
                    href="https://docs.google.com/presentation/d/1XFumdfmy2f9_vXDTSypiSQxoTbl0VV0iUjLzEYSTyck/edit?usp=sharing"
                    >Helloworld – How To &#x1f56a;</a
                  >
                </li>
                <li class="last-child">
                  <a
                    href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    ><img
                      class=""
                      src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                      alt="blend_small"
                      width="40"
                      height="21"
                  /></a>
                  Hello World (submit Hello.java file)
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td class="td-s"></td>
            <td class="td-s">
              <p>08/20</p>
              <p>08/21</p>
            </td>

            <td class="td-s"></td>
            <td class="td-s">
              <ul>
                <li>
                  teacher lasacs.com courses hack-a-day syllabus Peer Tutors
                </li>
                <li>
                  <a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSdeIBpDETMEMJsHpSZwJbi5ruZEg8zW7VQd0E1qDyK2uItBRw/viewform"
                    >Student Survey</a
                  >
                </li>
                <li>
                  <a
                    href="https://docs.google.com/presentation/d/1Q152UPJozaQ3kzhSTqERXxUMdelUu62Awkkm5JEKRhU/edit?usp=sharing"
                    >Classroom Administration</a
                  >
                </li>
                <li>
                  <a
                    href="https://docs.google.com/presentation/d/13XddnUpE6V6rwPFBLApNCP0MaT0UneSJSJgFRpJ2ZAU/edit?usp=sharing"
                    target="_blank"
                    >Women in Tech</a
                  >
                </li>
                <li>
                  Joining your AP class section (<em>on BLEND</em>
                  <a
                    href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    ><img
                      class=""
                      src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                      alt="blend_small"
                      width="40"
                      height="21" /></a
                  >)
                </li>
                <li>
                  lasacs.com/ask/ (bookmark,
                  <a
                    href="https://docs.google.com/document/d/1nEICd5Yu3A1zhP5TlbVI5wjW4GrpwcsbttOoH8oSCcU/edit?usp=sharing"
                    >?</a
                  >)
                </li>
                <li class="first-child last-child">
                  Moving to
                  <em><strong>Intro to Computer Science </strong></em>(possible
                  at the end of the 1st nine weeks)
                </li>
                <li style="text-align: left">BLEND (can you see class)</li>
                <li class="last-child">
                  <img
                    class=""
                    src="http://icons.iconarchive.com/icons/cornmanthe3rd/metronome/128/Communication-email-blue-icon.png"
                    alt=""
                    width="40"
                    height="40"
                  />
                  <a
                    href="/cdn-cgi/l/email-protection"
                    class="__cf_email__"
                    data-cfemail="d9b3b8b4bcaaf7aab1b6bab2bca099b8acaaadb0b7b0aabdf7b6abbe"
                    >[email&#160;protected]</a
                  >
                  (include P# in the email subject)
                </li>
                <li>screen capture: Windows &#8211; Shift &#8211; S</li>
                <li>
                  <a href="%20https://www.lasacsclubs.com/">LASA{CSCLUBS}</a>
                </li>
                <li>
                  <a
                    href="https://lasacs.com/contests/"
                    target="_blank"
                    rel="noopener"
                    >UIL Competitions/CTFs/NACLO</a
                  >,
                  <a
                    href="https://www.uscyberpatriot.org/"
                    target="_blank"
                    rel="noopener"
                    >Cyberpatriot</a
                  >,
                  <a
                    href="https://lasacs.com/online/"
                    target="_blank"
                    rel="noopener"
                    >Online Challenges</a
                  ><a
                    href="https://docs.google.com/presentation/d/1C067dT9BWdkyBG2exyaTDTxWt_44H1cQBSjRyq3tUVI/edit?usp=sharing"
                  >
                    &#8230;.</a
                  >
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </main>
    <footer>
      <p>Website licensed under CC-BY-SA-3.0</p>
    </footer>
    <script type="text/javascript" src="../static/js/scripts.js"></script>
  </body>
</html>
