<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LASA CS</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>
    <nav id="navbar">
      <ul>
        <li id="hamburger-menu">
          <a href="javascript:void(0);" class="icon" onclick="makeResponsive()">
            <i class="fa fa-bars"></i>
          </a>
        </li>
        <li class="logo-li">
          <a href="{{ url_for('index') }}">
            <img
              src="../static/images/logo.png"
              id="logo-nav"
              alt="LASA CS Logo"
            />
          </a>
        </li>
        <li class="li-page">
          <a href="">Courses</a>
          <ul class="dropdown1 dropdown">
            <li><a href="/ap">AP Computer Science</a></li>
            <li><a href="/acs">Advanced CS</a></li>
            <li><a href="/de">Digital Electronics</a></li>
            <li><a href="/fun">Fundamentals of CS</a></li>
            <li><a href="/web">Web & Mobile Apps</a></li>
            <li><a href="/is">Independent Study CS</a></li>
          </ul>
        </li>
        <li class="li-page">
          <a href="">Resources</a>
          <ul class="dropdown2 dropdown">
            <li><a href="/">Clubs</a></li>
            <li><a href="/">Peer Tutors</a></li>
            <li><a href="/">UIL CS</a></li>
            <li><a href="/">Calendar</a></li>
            <li><a href="/">Online Challenges</a></li>
            <li><a href="/">Opportunities</a></li>
          </ul>
        </li>
        <li class="li-page">
          <a href="">Explore</a>
          <ul class="dropdown3 dropdown">
            <li><a href="/">Comptometer</a></li>
            <li><a href="/">Microcontrollers</a></li>
            <li><a href="/">Puzzles</a></li>
            <li><a href="/">Books</a></li>
          </ul>
        </li>
        <li class="li-page" id="about-li">
          <a href="" id="about-a">About</a>
          <ul class="dropdown4">
            <li><a href="/">Why study CS?</a></li>
            <li><a href="/">Course Info</a></li>
            <li><a href="/">Contact</a></li>
            <li><a href="/">Teacher Tech</a></li>
            <li><a href="/">Feedback</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <main>
      <h1 id="curriculum">LASA {CS} Curriculum</h1>
      <section class="mt-5 gparent course">
        <h2 class="class-title">AP Computer Science</h2>
        <p class="class-description">
          A college level CS course teaching object oriented programming with
          Java.
        </p>
        <div class="button-container">
          <button
            class="btn-primary left-center"
            onclick="window.location.href='/ap'"
          >
            Schedule
          </button>
          <button class="btn-secondary right-center">More Info</button>
        </div>
      </section>
      <section class="gparent course">
        <h2 class="class-title">Advanced CS</h2>
        <p class="class-description">
          A data structures class, designed to be the next step after taking AP
          CS.
        </p>
        <div class="button-container">
          <button
            class="btn-primary left-center"
            onclick="window.location.href='/acs'"
          >
            Schedule
          </button>
          <button class="btn-secondary right-center">More Info</button>
        </div>
      </section>
      <section class="gparent course">
        <h2 class="class-title">Digital Electronics</h2>
        <p class="class-description">
          Learn about the hardware behind computers, transistors to
          microprocessors.
        </p>
        <div class="button-container">
          <button
            class="btn-primary left-center"
            onclick="window.location.href='/de'"
          >
            Schedule
          </button>
          <button class="btn-secondary right-center">More Info</button>
        </div>
      </section>
      <section class="gparent course">
        <h2 class="class-title">Fundamentals of CS</h2>
        <p class="class-description">
          An introductory class to CS, specifically designed for beginners.
        </p>
        <div class="button-container">
          <button
            class="btn-primary left-center"
            onclick="window.location.href='/fun'"
          >
            Schedule
          </button>
          <button class="btn-secondary right-center">More Info</button>
        </div>
      </section>
      <section class="gparent course">
        <h2 class="class-title">Web & Mobile Apps</h2>
        <p class="class-description">
          Use software to build and develop applications for the web and mobile
          devices.
        </p>
        <div class="button-container">
          <button
            class="btn-primary left-center"
            onclick="window.location.href='/web'"
          >
            Schedule
          </button>
          <button class="btn-secondary right-center">More Info</button>
        </div>
      </section>
      <section class="gparent course">
        <h2 class="class-title">Independent Study CS</h2>
        <p class="class-description">
          For those who have exhausted the LASA CS curriculum, and want to learn
          on their own.
        </p>
        <div class="button-container">
          <button
            class="btn-secondary right-center"
            onclick="window.location.href='/is'"
          >
            More Info
          </button>
        </div>
      </section>
    </main>
    <footer>
      <p>Website licensed under CC-BY-SA-3.0</p>
    </footer>
    <script type="text/javascript" src="../static/js/scripts.js"></script>
  </body>
</html>
