<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LASA CS</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link rel="stylesheet" href="../static/css/table.css" />
  </head>
  <body>
    <nav id="navbar">
      <ul>
        <li id="hamburger-menu">
          <a href="javascript:void(0);" class="icon" onclick="makeResponsive()">
            <i class="fa fa-bars"></i>
          </a>
        </li>
        <li class="logo-li">
          <a href="{{ url_for('index') }}">
            <img
              src="../static/images/logo.png"
              id="logo-nav"
              alt="LASA CS Logo"
            />
          </a>
        </li>
        <li class="li-page">
          <a href="">Courses</a>
          <ul class="dropdown1 dropdown">
            <li><a href="/ap">AP Computer Science</a></li>
            <li><a href="/acs">Advanced CS</a></li>
            <li><a href="/de">Digital Electronics</a></li>
            <li><a href="/fun">Fundamentals of CS</a></li>
            <li><a href="/web">Web & Mobile Apps</a></li>
            <li><a href="/is">Independent Study CS</a></li>
          </ul>
        </li>
        <li class="li-page">
          <a href="">Resources</a>
          <ul class="dropdown2 dropdown">
            <li>
              <a href="https://sites.google.com/view/lasacsclubs">Clubs</a>
            </li>
            <li><a href="https://lasacs.com/tutoring/">Peer Tutors</a></li>
            <li><a href="https://lasacs.com/uil/">UIL CS</a></li>
            <li><a href="https://lasacs.com/calendar/">Calendar</a></li>
            <li><a href="https://lasacs.com/online/">Online Challenges</a></li>
            <li>
              <a href="https://lasacs.com/opportunities/">Opportunities</a>
            </li>
          </ul>
        </li>
        <li class="li-page">
          <a href="">Explore</a>
          <ul class="dropdown3 dropdown">
            <li><a href="https://lasacs.com/comptometer/">Comptometer</a></li>
            <li><a href="https://lasacs.com/hw/">Hardware</a></li>
            <li>
              <a
                href="https://docs.google.com/document/d/1hccpgLyOnDgHxg0o7nQu3Z6GlENzazQAhsEvIv9iYyM/edit?usp=sharing"
                >Puzzles
              </a>
            </li>
            <li><a href="https://lasacs.com/books/">Books</a></li>
          </ul>
        </li>
        <li class="li-page" id="about-li">
          <a href="" id="about-a">About</a>
          <ul class="dropdown4">
            <li><a href="https://lasacs.com/why/">Why study CS?</a></li>
            <li><a href="https://lasacs.com/courses/">Course Info</a></li>
            <li><a href="https://lasacs.com/contact-info/">Contact</a></li>
            <li>
              <a
                href="https://docs.google.com/presentation/d/12Efq2NIv_hBh-9nt1Ymhv1LK-apdGTD4VCRipKa3tgU/edit?usp=sharing"
                >Teacher Tech
              </a>
            </li>
            <li>
              <a
                href="https://docs.google.com/spreadsheet/viewform?hl=en_US&formkey=dFVzRUZ5cnFhYnQzQll1VGxINTIyd1E6MQ#gid=0"
                >Feedback
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <main>
      <h1 class="title-header">Web & Mobile Apps</h1>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <table class="table">
        <tbody>
          <tr style="background-color: #0c2340">
            <td style="border: none; text-align: center">
              <span style="color: #ffffff"><strong>Date</strong></span>
            </td>
            <td style="border: none; text-align: center">
              <span style="color: #ffffff"><strong>Notes</strong></span>
            </td>
            <td style="border: none; text-align: center">
              <span style="color: #ffffff"
                ><strong>Class Activities</strong></span
              >
            </td>
          </tr>
          <p>
            <!-- *************************************************** TOP OF ASSIGNMENTS *************************************************** -->
          </p>
          <tr>
            <td style="border: none; text-align: center">&#8230;.</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">&#8230;.</td>
          </tr>
          <tr style="background-color: #f7ec0c">
            <td style="border: none">03/11</td>
            <td style="border: none"></td>
            <td style="border: none">
              <h2 style="text-align: center">
                <span style="color: #ff0000"
                  ><strong>* * * * * CUT-OFF * * * * *</strong></span
                >
              </h2>
              <p style="text-align: center">All Assignments up to 02/27</p>
              <p style="text-align: center">Check-It Out!</p>
            </td>
          </tr>
          <tr>
            <td style="border: none; text-align: center">03/07</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              <p>
                CodeHS Unit 4: Project &#8211; Create Your Homepage &#8211;
                4.1.1 to 4.1.3
              </p>
              <p>
                CodeHS Unit 5: Introduction to JavaScript in HTML &#8211; 5.1 to
                5.3
              </p>
            </td>
          </tr>
          <tr>
            <td style="border: none; text-align: center">02/27</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              CodeHS Unit 3: Advanced HTML and CSS &#8211; 3.14 to 3.17
            </td>
          </tr>
          <tr>
            <td style="border: none; text-align: center">02/25</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              <p>CodeHS Unit 3: Advanced HTML and CSS &#8211; 3.1 to 3.8</p>
              <p>CodeHS Unit 3: Advanced HTML and CSS &#8211; 3.9 to 3.13</p>
            </td>
          </tr>
          <tr>
            <td style="border: none; text-align: center">02/20</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              Lab: CodeHS Unit 2: CSS &#8211; Styling Websites &#8211; 2.1 to
              2.6
            </td>
          </tr>
          <tr>
            <td style="border: none; text-align: center">02/14</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              Lab: CodeHS Unit 1: HTML &#8211; Structuring Websites &#8211; 1.7
              to 1.11
            </td>
          </tr>
          <tr>
            <td style="border: none; text-align: center">02/13</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              Lab: CodeHS Unit 1: HTML &#8211; Structuring Websites &#8211; 1.1
              to 1.6
            </td>
          </tr>
          <tr>
            <td style="border: none; text-align: center">02/11</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">Lab Day</td>
          </tr>
          <tr>
            <td style="border: none; text-align: center">02/04</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              <p>Topic: 02i.Exchanging Information HTML</p>
              <p>Lab: 02i.Exchanging Information HTML (v1)</p>
            </td>
          </tr>
          <tr>
            <td style="border: none; text-align: center">01/28</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              <p>Topic: 02i.Exchanging Information XML</p>
              <p>Lab: 02i.Exchanging Information XML</p>
            </td>
          </tr>
          <tr>
            <td style="border: none; text-align: center">01/23</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              <p>Topic: 02i.Exchanging Information JSON</p>
              <p>Lab: 02i.Exchanging Information JSON</p>
            </td>
          </tr>
          <tr>
            <td style="border: none; text-align: center">01/09</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              Lab: KC7-CyberSecurity CTF (Day 2)
            </td>
          </tr>
          <tr>
            <td style="border: none; text-align: center">01/07</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              Lab: KC7-CyberSecurity CTF (Day 1)
            </td>
          </tr>
          <tr style="background-color: #f7ec0c">
            <td style="border: none">05/15</td>
            <td style="border: none"></td>
            <td style="border: none">
              <h2 style="text-align: center">
                <span style="color: #ff0000"
                  ><strong>* * * * * CUT-OFF * * * * *</strong></span
                >
              </h2>
              <p style="text-align: center">All Assignments</p>
              <p style="text-align: center">
                (<em
                  >with the exception of the UX Practicum Final Presentation</em
                >)
              </p>
              <p style="text-align: center">Check-It Out!</p>
            </td>
          </tr>
          <p><!---- Break ----><!---- Break ----></p>
          <tr>
            <td style="text-align: center; border: none">12/05</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              Sololearn: Python Module 2<br />
              Lab Day
            </td>
          </tr>
          <tr>
            <td style="text-align: center; border: none">12/03</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              BootStrap: Cross Check 3
            </td>
          </tr>
          <tr>
            <td style="text-align: center; border: none">11/14</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              Sololearn: Python Module 1<br />
              Lab Day
            </td>
          </tr>
          <tr>
            <td style="text-align: center; border: none">10/31</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              <p>Bootstrap Project &#8211; Tutorial 3</p>
              <p>Work Day &#8211; Finish Session 2 video</p>
            </td>
          </tr>
          <tr>
            <td style="text-align: center; border: none">10/29</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              <p>Work Day &#8211; Finish Session 2 video</p>
              <p>Worksheet: Bootstrap 5 Typography MCQ 2</p>
            </td>
          </tr>
          <tr>
            <td style="text-align: center; border: none">10/25</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              <p>
                Work Day &#8211; Finish Bootstrap Session 1 video (due Friday)
              </p>
              <p>Bootstrap project &#8211; Tutorial 2</p>
              <p>Worksheet: Bootstrap Typography Questionnaire</p>
            </td>
          </tr>
          <tr>
            <td style="text-align: center; border: none">10/24</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              Work Day &#8211; Finish Bootstrap Session 1 video (due Friday)
            </td>
          </tr>
          <tr>
            <td style="text-align: center; border: none">10/22</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">Work Day</td>
          </tr>
          <tr>
            <td style="text-align: center; border: none">10/17</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">Work Day</td>
          </tr>
          <tr>
            <td style="text-align: center; border: none">10/15</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              <p>Bootstrap Project – Tutorial 1</p>
              <p>Worksheet: Bootstrap Flexible Grid – BLEND</p>
            </td>
          </tr>
          <tr>
            <td style="text-align: center; border: none">10/01</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              <p>Topic: jQuery (videoquiz)</p>
              <p>W3Schools – jQuery Set 1</p>
              <p>
                Bootstrap team
                <a
                  href="https://docs.google.com/forms/d/e/1FAIpQLSchPLNq-zZ0JKLHHzbaxbDLxz7g7Tez0ycrvEfkBmyqevhotg/viewform"
                  >affinity form</a
                >
              </p>
            </td>
          </tr>
          <tr>
            <td style="text-align: center; border: none">09/26</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">Lab Day</td>
          </tr>
          <tr>
            <td style="text-align: center; border: none">09/24</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              <p>Lab: JS Calendar</p>
              <p>
                <a
                  href="https://lasacs.com/wp-content/uploads/2018/09/sololearnSmall.png"
                  ><img
                    class="alignnone size-full wp-image-9923"
                    src="https://lasacs.com/wp-content/uploads/2018/09/sololearnSmall.png"
                    alt="sololearnSmall"
                    width="27"
                    height="27" /></a
                >SoloLearn: JavaScript Set 3
              </p>
            </td>
          </tr>
          <tr>
            <td style="text-align: center; border: none">09/20</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              <p>Topic: 02b.Document Object Model</p>
              <p>
                DOM tutorial<br />
                Tutorial 1: Accessing the DOM<br />
                Tutorial 2: Manipulating the DOM<br />
                Tutorial 3: DOM Events<br />
                demo
              </p>
            </td>
          </tr>
          <tr>
            <td style="text-align: center; border: none">09/19</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              <a
                href="https://lasacs.com/wp-content/uploads/2018/09/sololearnSmall.png"
                ><img
                  class="alignnone size-full wp-image-9923"
                  src="https://lasacs.com/wp-content/uploads/2018/09/sololearnSmall.png"
                  alt="sololearnSmall"
                  width="27"
                  height="27" /></a
              >SoloLearn: JavaScript Modules 1-2
            </td>
          </tr>
          <tr>
            <td style="text-align: center; border: none">09/17</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              <p>
                Topic: JavaScript Basics (videoquiz)<em>
                  –
                  <a
                    href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    ><img
                      class=""
                      src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                      alt="blend_small"
                      width="40"
                      height="21"
                  /></a>
                  in BLEND</em
                >
              </p>
              <p>
                <a
                  href="https://lasacs.com/wp-content/uploads/2018/09/sololearnSmall.png"
                  ><img
                    class="alignnone size-full wp-image-9923"
                    src="https://lasacs.com/wp-content/uploads/2018/09/sololearnSmall.png"
                    alt="sololearnSmall"
                    width="27"
                    height="27" /></a
                >SoloLearn: JavaScript Modules 1-2
              </p>
            </td>
          </tr>
          <tr>
            <td style="text-align: center; border: none">09/12</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">Lab Day</td>
          </tr>
          <tr>
            <td style="text-align: center; border: none">09/10</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              <strong
                ><strong
                  ><strong
                    ><em
                      >Stanford CS142 HTML and CSS projects
                      <img
                        src="https://lh5.googleusercontent.com/hgTkF2MM-FA_tlVSdmV64t8R1mi46I65tk5xze2aSJLRRi8uqJkwnj_ZZKasEWyyjAgxijmmOyRSr2_c4Ing6DPz03mGSVxqO6nJF4K_ds7Ky4c0y9SU9pa7eodM"
                        alt=""
                        width="19.40941627296586px;"
                        height="16.855669291338607px;"
                      /><a
                        href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                        ><img
                          class=""
                          src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                          alt="blend_small"
                          width="40"
                          height="21"
                      /></a>
                      in BLEND</em
                    ></strong
                  ></strong
                ></strong
              >
              <ul>
                <li class="first-child">
                  [80%] Spring 2014 (Problem 1 only)
                  <ul>
                    <li class="first-child last-child">table.html</li>
                  </ul>
                </li>
                <li class="last-child">
                  Spring 2016 (must use &lt;div&gt;s not a table) [10% each]
                  <ul>
                    <li class="first-child">Style A</li>
                    <li class="last-child">
                      Style B
                      <ul>
                        <li class="first-child last-child">
                          OK to have all 6 boxes line up horizontally (F does
                          not have to be in the bottom right corner)
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td style="text-align: center; border: none">09/06</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              <strong
                ><strong
                  ><em
                    >CSS Spacing &amp; Positioning (videoquiz) –
                    <a
                      href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                      ><img
                        class=""
                        src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                        alt="blend_small"
                        width="40"
                        height="21"
                    /></a>
                    in BLEND</em
                  ></strong
                ></strong
              >
              <ul>
                <li class="first-child last-child">
                  Mondrian w/divs (<em
                    ><a
                      href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                      ><img
                        class=""
                        src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                        alt="blend_small"
                        width="40"
                        height="21"
                    /></a>
                    in BLEND – </em
                  >REPL)
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td style="text-align: center; border: none">09/05</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              <strong>CSS Styling</strong>
              <ul>
                <li class="last-child first-child">
                  <img
                    class=""
                    src="https://lasacs.com/wp-content/uploads/2017/05/icon-slides_sm.png"
                    alt="icon-slides_sm"
                    width="20"
                    height="24"
                  />
                  <a href="http://a"><em>01d.</em><i>CSS Styling</i></a>
                  (videoquiz)
                  <a
                    href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    ><img
                      class=""
                      src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                      alt="blend_small"
                      width="40"
                      height="21"
                  /></a>
                  in BLEND
                </li>
                <li class="first-child last-child">
                  Lab: Second CSS
                  <img
                    src="https://lh5.googleusercontent.com/hgTkF2MM-FA_tlVSdmV64t8R1mi46I65tk5xze2aSJLRRi8uqJkwnj_ZZKasEWyyjAgxijmmOyRSr2_c4Ing6DPz03mGSVxqO6nJF4K_ds7Ky4c0y9SU9pa7eodM"
                    alt=""
                    width="19.40941627296586px;"
                    height="16.855669291338607px;"
                  />
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td style="text-align: center; border: none">09/03</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              <ul>
                <li class="last-child">Lab: FirstCSS</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td style="text-align: center; border: none">08/29B</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              <h2>CSS Basics</h2>
              <ul>
                <li class="last-child first-child">
                  <img
                    class=""
                    src="https://lasacs.com/wp-content/uploads/2017/05/icon-slides_sm.png"
                    alt="icon-slides_sm"
                    width="20"
                    height="24"
                  />
                  <a
                    href="https://drive.google.com/drive/folders/0BwIlTBwGYgv_R0xuc0Q0MFF6VEU?usp=sharing"
                    ><em>01c.</em><i>CSS Basics</i></a
                  >
                  (videoquiz)
                  <a
                    href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    ><img
                      class=""
                      src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                      alt="blend_small"
                      width="40"
                      height="21"
                  /></a>
                  in BLEND
                </li>
                <li class="last-child">
                  <img
                    class=""
                    src="https://lasacs.com/wp-content/uploads/2017/05/icon-slides_sm.png"
                    alt="icon-slides_sm"
                    width="20"
                    height="24"
                  />
                  <a
                    href="https://docs.google.com/presentation/d/1auRdxMhj4H9-Z0d0bw3wBpcFu6QYK_sAvY4PrApkFwE/edit?usp=sharing"
                    target="_blank"
                    ><em>01c.</em><i>CSS Basics / HTML Grouping</i></a
                  >
                  (videoquiz)
                  <a
                    href="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                    ><img
                      class=""
                      src="https://lasacs.com/wp-content/uploads/2017/08/blend_small.png"
                      alt="blend_small"
                      width="40"
                      height="21"
                  /></a>
                  in BLEND
                </li>
                <li class="last-child">
                  Practice:
                  <a
                    href="https://docs.google.com/document/d/1pofr4nDbSaoOWvUBoSeGv5ReukTtycfbbVRonFMcoWY/edit?usp=sharing"
                    >CSS Practice</a
                  ><strong> in jsfiddle</strong>
                </li>
                <li class="last-child">
                  <span style="color: #3366ff">Check:</span
                  ><em> SoloLearn … </em
                  ><em
                    ><a href="https://www.sololearn.com/Course/CSS/"
                      >CSS The Basics</a
                    > </em
                  ><em>(sections through 6)</em>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td style="text-align: center; border: none">08/27B</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              <h2>HTML Tables, Lists, and Forms</h2>
              <ul>
                <li class="first-child">
                  <img
                    class=""
                    src="https://lasacs.com/wp-content/uploads/2017/05/icon-slides_sm.png"
                    alt="icon-slides_sm"
                    width="20"
                    height="24"
                  />
                  <em
                    ><a
                      href="https://docs.google.com/presentation/d/1506mdAw6xe78PadZryHkYrA6aJZxM3eJMWG4cYPtH9w/edit?usp=sharing"
                      >HTML Tables, Lists, Forms</a
                    >
                    &#8211; videoquiz</em
                  >
                  <ul>
                    <li class="first-child last-child">
                      Table with lists
                      <img
                        src="https://lh5.googleusercontent.com/hgTkF2MM-FA_tlVSdmV64t8R1mi46I65tk5xze2aSJLRRi8uqJkwnj_ZZKasEWyyjAgxijmmOyRSr2_c4Ing6DPz03mGSVxqO6nJF4K_ds7Ky4c0y9SU9pa7eodM"
                        alt=""
                        width="19.40941627296586px;"
                        height="16.855669291338607px;"
                      />
                    </li>
                    <li class="first-child last-child">
                      BLEND:
                      <a
                        href="https://aisdblend.instructure.com/courses/194552/assignments/659705?module_item_id=2837161"
                        >HTML tables, Lists, &amp; Forms</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="last-child">
                  <em>continue … Sololearn:</em> HTML Overview
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td style="text-align: center; border: none">08/23</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              <ul>
                <li class="first-child">
                  <img
                    class=""
                    src="https://lasacs.com/wp-content/uploads/2017/05/icon-slides_sm.png"
                    alt="icon-slides_sm"
                    width="20"
                    height="24"
                  />
                  <em
                    ><a
                      href="https://docs.google.com/presentation/d/14EL-nESaBSdv6GyoiP9I8hMELqC9_FubNjiwwDEaDTE/edit?usp=sharing"
                      target="_blank"
                      >Basic HTML &amp; URLs</a
                    ></em
                  >
                  <ul>
                    <li class="first-child last-child">
                      HelloWorld (First HTML page)
                      <img
                        src="https://lh5.googleusercontent.com/hgTkF2MM-FA_tlVSdmV64t8R1mi46I65tk5xze2aSJLRRi8uqJkwnj_ZZKasEWyyjAgxijmmOyRSr2_c4Ing6DPz03mGSVxqO6nJF4K_ds7Ky4c0y9SU9pa7eodM"
                        alt=""
                        width="19.40941627296586px;"
                        height="16.855669291338607px;"
                      />
                    </li>
                  </ul>
                </li>
                <li class="last-child">
                  SoloLearn HTML Overview
                  <a href="https://www.sololearn.com/Course/HTML/"
                    ><img
                      src="https://lh5.googleusercontent.com/hgTkF2MM-FA_tlVSdmV64t8R1mi46I65tk5xze2aSJLRRi8uqJkwnj_ZZKasEWyyjAgxijmmOyRSr2_c4Ing6DPz03mGSVxqO6nJF4K_ds7Ky4c0y9SU9pa7eodM"
                      alt=""
                      width="19.40941627296586px;"
                      height="16.855669291338607px;"
                  /></a>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td style="text-align: center; border: none">8/21A</td>
            <td style="border: none; text-align: center"></td>
            <td style="border: none; text-align: left">
              <p>
                <a
                  href="https://docs.google.com/forms/d/e/1FAIpQLSdeIBpDETMEMJsHpSZwJbi5ruZEg8zW7VQd0E1qDyK2uItBRw/viewform"
                  >Student Survey</a
                >
              </p>
              <p>Course Intro</p>
              <p>Administrative Info</p>
              <p>Repl.it sign-up</p>
              <p>Computer Science Club</p>
              <p>Women in Computer Science Club (WICS)</p>
              <p>UIL Competitions/CTFs/NACLO,</p>
              <p>Cyberpatriot,</p>
              <p>
                Peer Tutoring<a
                  href="https://docs.google.com/document/d/1MnSVMu4zLH7VBaLTEqNffLeJTTZ6oDM5UPCzRxoDLes/edit"
                  >&#8230;.</a
                >
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </main>
    <footer>
      <p>Website licensed under CC-BY-SA-3.0</p>
    </footer>
    <script type="text/javascript" src="../static/js/scripts.js"></script>
  </body>
</html>
